<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- The port the MonoTools server listens on. -->
		<!-- Default: 8805 -->
		<add key="ServerPort" value="8805" />

		<!-- New connections are needed when a web application is launched -->
		<!-- or a process is debugged.  This is the range those ports will -->
		<!-- be taken from. -->
		<!-- Default: 8806-8872 -->
		<add key="ApplicationPortRangeStart" value="8806" />
		<add key="ApplicationPortRangeEnd" value="8872" />

		<!-- Broadcast this server's info using the Ssdp protocol. -->
		<!-- Allows the server to be automatically found by clients. -->
		<!-- Default: True -->
		<add key="UseSsdp" value="True" />

		<!-- When running an application in a console, pause the terminal -->
		<!-- when the application finishes so you can see the output. -->
		<!-- Default: True -->
		<add key="PauseTerminal" value="True" />
	</appSettings>
</configuration>